# Ignore VSCODE Settings
.vscode/settings.json

# Ignore compiled files
tests/enum_test
drive_simple_encoder/drive_simple_encoder

# Ignore the bin
bin/

# ignore .o files
/common/*.o
/lcmtypes/*o
/mobilebot/*o
/measure_motor_params/*o
# /drive_simple_encoder/*o
/drive_simple_encoder/*o
/drive_simple/*o
/test_motos/*o
.DS_Store

# ignore cache files
/documentation/__pycache__

# ignore cached files
/python/lcmtypes/*.pyc
# ignore lcm types
/lcmtypes