# Ignore VSCODE Settings
.vscode/settings.json

# Ignore Mac settings
.DS_Store

# Ignore compiled files and bin
tests/enum_test
drive_simple_encoder/drive_simple_encoder
bin/

# ignore .o files
common/*.o
mobilebot/*.o
measure_motor_params/*.o
drive_simple_encoder/*.o
drive_simple_encoder/*.o
drive_simple/*.o
/test_motors/*.o

# ignore nohup
documentation/nohup

documentation/utils/__pycache__/*

lcmtypes/*.c
lcmtypes/*.h
lcmtypes/*.hpp
lcmtypes/*.o
# ignore cache files
documentation/__pycache__

# ignore cached files
python/lcmtypes/*.pyc
common/bot_defs.h
test_motors/test_motors.o

documentation/nohup.out
documentation/utils/__pycache__/api_utils.cpython-38.pyc
documentation/utils/__pycache__/app_utils.cpython-38.pyc
java/
.gitignore
.gitignore
