# Hamil Shah
# Config File for MBOT MOTOR PID Settings

# Proportional Gain
Kp = 1.1
# Integral Gain
Ki = .0005
# Derivative Gain
Kd = .00075
# Filter Refresh Rate
dFilterHz = .01
# out limit 
out_lim = -1
# inner limit
int_lim = 1
# Feedforward term
FF_term = 1.2



